.jd{
    z-index: 0;
    width: 100%;
}

.logoBB{
    z-index: 1;
    position: absolute;
    color: white;
    margin-left: 60px;
}

.navbar{
    z-index: 1;
}

.logoBB h5{
    max-width: 400px;
    margin-top: 30px;
    font-size: 20px;
}

.logoBB h2{
    line-height: 1.1;
    font-size: 30px;
}

.Top10{
    margin-top: 55px;
}

.top10container{
    display: flex;
    justify-content: space-between;
}

.jeffreyD{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.BetterCS{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.breakingB{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.DevilO{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.Witcher{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.Blacklist{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.ozark{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.dark{
    width: 150px;
    height: 220px;
    margin: 15px;
}

.aboutContainer{
    display: grid;
    grid-template-areas: "img1 text1";
    margin-bottom: 100px;
}

.imgMe{
    grid-area: img1;
}

.textContainer{
    grid-area: text1;
    margin-top: 80px;
}

.textContainer p{
    font-size: 1.5em;
}

.tableAniadir{
    margin-left: 450px;
    background-color:#00000094;
    margin-top: 80px;
    border-radius: 10px;
}

.tableAniadir h2{
    margin-left: 450px;
}

.cardRes{
    margin-left: 300px;
    margin-top: 50px;
}

.cardRes p{
    color: black;
    text-align: center;
}

.botonFake{
    background-color: #00000094;
    float: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    color: white;
    border-radius: 5px;
    border-color: #e50914;
    margin-right: 380px;
    margin-top: 10px;
}
/* From uiverse.io */
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    margin-top: 15px;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #e50914;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #e50914;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #e50914;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #e50914;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

@media (max-width: 720px){
    .top10container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .icon03{
        background-color: rgb(57, 57, 57);
    }

    .buttontog{
        background-color: rgb(57, 57, 57);
    }
    
}