{% extends "padre.html" %}

{% load static %}

{% block title %}
Reseñas - Netflix
{% endblock %}

{% block content %}
<div class="logoBB">
    <section>
        <form action="" enctype="multipart/form-data" method="POST">  {% csrf_token %}
            <table class="tableAniadir">
                <h2 style="margin-left:450px; margin-top:30px;">Agrega una reseña</h2>
                {{form.as_table}}
            </table>  
            <input class="botonFake" type="submit" value="Enviar">
        </form>        
      </section>
</div>
<img class="jd" src="../media/reseniasBanner.jpg"/>
{%endblock%}