{% extends "padre.html" %}

{% load static %}

{% block title %}
Reseñas - Netflix
{% endblock %}

{% block content %}
<div class="logoBB">
    <section>
        <div class="card mb-4">
            <form action="/buscar/" method="GET">
                <div class="card-header">Buscar Reseñas</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Ingresa el nombre..." name="reseña" id="reseña" />
                        <input type="submit" value="Buscar">
                    </div>
                </div>
            </form>
        </div>
        
      </section>
</div>
<img class="jd" src="../media/reseniasBanner.jpg"/>
{%endblock%}