{% extends "padre.html" %}

{% load static %}

{% block title %}
Reseñas - Netflix
{% endblock %}

{% block content %}
<div class="logoBB" style="color:white; margin-left: 480px;">
    <section>
        <div style="text-align:center; background-color:#00000094;">
            {% if resultados %}
            {% for r in resultados %}
            <img src="{{r.imagen.url}}" width="550px" alt='No hay imagen.' style="margin-top: 40px;"/>
            <h2 style="margin-top: 30px;"><strong>Película: {{r.nombre}}</strong></h2>
            <h5>Reseña: {{r.reseña}}</h5>
            <a href="{% url 'AddReseñas' %}"><button class="button">Crea tu propia reseña</button></a>
            <a href="{% url 'Home' %}"><button class="button">Volver</button></a>
            {% endfor %}
            {% else %}
            <p>No hay reseñas de esa película.</p>
            {% endif %}
        
      </section>
</div>
<img class="jd" src="../media/reseniasBanner.jpg"/>
{%endblock%}